// body {
// background-color: $theme-color-dark;
// }

.name {
  font-family: $font-sans;
  // font-size: 2.3rem;
  font-weight: 430;
  font-size: 2.7rem;
  text-transform: uppercase;
  color: $theme-color;
  letter-spacing: -.025rem;
  float: right;
  margin-top: 3rem;
  // margin-bottom: 1rem;
  // margin-left: 14.3rem;
  &:hover {
    text-decoration: none;
    font-size: 2.73rem;
    // margin-bottom: .37rem;
    padding: .13rem;
    color: $darkgreen;
    // background-color: rgba($green, 0.15);
    cursor: pointer;
  }
}

.summary{
  font-family: $font-sans;
  // font-size: 2.3rem;
  font-weight: 430;
  
  text-transform: uppercase;
  color: $post-date-color;
  letter-spacing: -.025rem;
}

.float-right {
  display: block;
  float:right;
  text-align: right;
  a:hover {
    font-size: 3rem;
    text-decoration: none;
  }
}

.intro{
  margin-top: 3rem;
  padding-top: 0rem;
  font-size: 1.27rem;
  color: $post-date-color;
  margin-top: 7rem;
}

// .stored{
//   font-size: .731rem;
//   color: $white;
// }

.nopadding {
  padding: none;
  a {
    text-decoration: none;
    font-size: 1.3rem;
    text-decoration: none;
  }
}

.fyp {

  float: left;
  font-size: .87rem;
  margin-top: 21rem;
  text-align: left;
  width: 100%;

  h1 {
    
    &:hover {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 500;
      // margin-bottom: .37rem;
      padding: .13rem;
      color: $darkgreen;
      // background-color: rgba($green, 0.15);
      width: 34%;
    }
  }
}

.fyp-personal-info {
  .fyp-personal-info-section {
    font-size: 2.7rem;
    text-align: center;
    line-height: 1rem;
    margin-top: 7rem;
    a, strong {
      color: $theme-color;
      text-decoration: none;
      }
    }
    a:hover {
      font-size: 3.4rem;
      // font-weight: 730;
      // background: rgba($green, 0.15);
      color: $darkgreen;
    }

  margin-top: 12rem;

  .fyp-background {
    display: inline-block;
    i {
      // padding: .34rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
