// body {
// background-color: $theme-color-dark;
// }

.name {
  font-family: $font-sans;
  // font-size: 2.3rem;
  font-weight: 430;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: $theme-color;
  letter-spacing: -.025rem;
  float: right;
  // margin-bottom: 1rem;
  // margin-left: 14.3rem;
}

.summary{
  font-family: $font-sans;
  font-size: 2.3rem;
  font-weight: 430;
  
  text-transform: uppercase;
  color: $post-date-color;
  letter-spacing: -.025rem;
}

.float-right {
  display: block;
  float:right;
  text-align: right;
}

.intro{
  padding-top: 3.7rem;
  font-size: 1.3rem;
  color: $post-date-color;
}

// .stored{
//   font-size: .731rem;
//   color: $white;
// }

.nopadding {
  padding: none;
}
