/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  position:fixed;
  // padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $green;
  background-color: rgba($green, 0.15);
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  @media (min-width: 30rem) {
    position: fixed;
    width: 100%;
  }
  .masthead-title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0rem;
    width: 50%;
    color: $theme-color;
    a {
      color: $theme-color;
      text-decoration: none;
    }
    small {
      width: 100%;
      font-size: 75%;
      font-weight: 400;
      color: $masthead-title-small-color;
      letter-spacing: 0;
    }
    @media (max-width: 48em) {
      text-align: center;
      small {
        display: none;
      }
    }
  }
  .masthead-logo {
    position: relative;
    height: 30px;
    width: auto;
    vertical-align: text-bottom;
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: 2.7rem;
  }
}

.navbar {
  display:block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .13rem;
  color: $theme-color;
  text-align: center;
  // padding: .3rem;
  text-decoration: none;
  margin-top: -1.7rem;
  // margin-right: 5rem;
  text-align: right;
  top: 0%;
  width: 90%;
  a:hover {
    text-decoration: none;
    // font-size: 1.2rem;
    // font-weight: 510;
    color: $darkgreen;
  }


}

@media only screen and (max-width: 997px) {
  .navbar {
    display: none;
  }

  .masthead-title a {
    float: left;
  }
}